.btn {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 18px;
  border: none;
}
.submit {
  composes: btn;
  composes: submitClrs from "./colors.module.css";
}
.error {
  composes: btn;
  composes: errorClrs from "./colors.module.css";
}
